.university-card {
  &-layout {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    display: flex;
    flex-direction: column;
  }

  &-image {
    height: 16rem;
    background-color: #ead9f1;

    &-loader {
      position: absolute;
      color: lightgray;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-details {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    max-height: 7rem;
    min-height: 7rem;

    &-name {
      font-size: 1.4rem;
      font-weight: bold;
    }

    &-description {
      padding: 0 1rem 1rem 1rem;
      font-size: 1.1rem;
      max-height: 3rem;
      min-height: 3rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-country {
      font-size: 1.1rem;
    }

    &-button {
      color: white !important;
      font-size: 1.2rem !important;
      padding: .3rem 1.2rem !important;
    }
  }
}