@import "variables";
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/scss/variables";
@import "mixin";

$primary: #9C27B0;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(big-d-desktop) {
    max-width: 120em;
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}


body {
  color: black;
  padding-bottom: 4rem !important;
}